@{
    var homeUrl = Href("~/");
}    
<div class="credits text-muted"><span class="terms">Copyright &#169; @DateTime.Now.Year <a href="@homeUrl">@WorkContext.CurrentSite.SiteName.</a> All Rights Reserved.</span></div>
